@media (max-width: 374px) {
  .header {
    height: 80px;
    padding: 6px 22px;
    align-items: flex-end;

    & &__menu-md {
      width: 24px;
      margin-right: 16px;
    }

    & &__logo {
      width: 83px;
    }
  }
  #content {

    padding: 104px 25px;

    .carousel {
      .carousel-inner {
        .carousel-item {
          img {
            border-radius: 16px;
          }
        }
      }
    }

    .navbar {
      margin-top: 16px !important;

      .navbar-nav {
        .nav-item {
          a {
            font-size: 14px;
            line-height: 21px;
            padding: 6px 33px;
            margin: 0 0 0 6px;
          }
        }
      }
    }

    .box {
      .box-content {
        p {
          font-size: 14px !important;
        }

        ul {
          li {
            .dot {
              margin: 0 6px;
            }
          }
        }

      }
    }

    .news {
      margin-bottom: 20px !important;

      .headding {
        margin: 19px 0 !important;

        .icon-news {
          width: 18px !important;
        }

        .p-headding {
          font-size: 21px !important;
          line-height: 27px !important;
          margin: 0 11px !important;
        }
      }

      .main-news {
        margin-bottom: 24px;
      }

      .sub-news .sub-news-item {
        margin-bottom: 24px;
      }
    }

    .video {
      .video-content {
        flex-direction: column !important;

        .main-video {
          width: 100% !important;
        }

        .sub-video {
          overflow-x: auto !important;
          overflow-y: hidden !important;
          flex-direction: row !important;
          max-width: 100% !important;
          width: 100% !important;
        }
      }
    }
  }
}

@media (min-width: 375px) {

  #content {
    padding: 80px 36px;

    .container {
      padding: 0;
      margin: 0 auto;
      width: 100%;
    }

    .news {
      .main-news {
        margin-bottom: 36px;
      }

      .sub-news {
        .sub-news-item:first-child {
          padding-left: 0;
        }

        .sub-news-item:last-child {
          padding-right: 0;
        }
      }
    }

    .video {
      .video-content {
        flex-direction: column !important;
        max-height: fit-content !important;

        .sub-video {
          padding: 0 !important;
          flex-direction: row !important;
          max-width: 100% !important;
          overflow-x: auto !important;
          overflow-y: hidden !important;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .header {
    & &__menu-md {
      width: 24px;
      margin-right: 24px;
    }
  }
  .container {
    width: 100%;
    margin: 0 auto;
  }
  #content {
    padding: 80px 44px;

    .news {
      .col-md-main-news {
        width: 61.5%;
        flex: 0 0 61.5%;
      }

      .main-news {
        padding: 0;
      }

      .col-md-sub-news {
        width: 35.9%;
        flex: 0 0 35.9%;
      }

      .sub-news {
        padding: 0;

        .sub-news-item {
          padding: 0;
        }
      }
    }

    .video {

      .box-top {
        margin: 0 !important;
      }

      .video-content {
        justify-content: space-between;
        flex-direction: row !important;
        flex-wrap: initial;
        //max-height: 400px!important;
        .col-md-main-video {
          max-width: 74.3% !important;
          padding: 0 !important;
          flex: 0 0 74.3%;
        }

        .col-md-sub-video {
          max-width: 23% !important;
          flex: 0 0 23% !important;
        }

        .sub-video {
          flex-direction: column !important;
          overflow-y: auto !important;
          flex-wrap: initial;
          justify-content: flex-start;
          max-height: 400px !important;

          .sub-video-item {
            flex-basis: auto !important;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .container {
    width: 956px;
    box-sizing: border-box;
    margin: 0 auto;
  }
  .header {
    & &__navbar {
      display: block;
    }

    & &__menu-md {
      display: none;
    }

    & &__navbar2 {
      .icon-notification {
        display: none;
      }

      .btn-add_post {
        display: block;
      }
    }
  }
  #content {
    padding: 80px 75px;

    .carousel {
      .carousel-indicators {
        display: flex;
      }
    }

    .video {

    }
  }
  #content.video-page {
    .video-content {
      flex-direction: column !important;

      .main-video {
        width: 100%;
        max-width: 100% !important;
        padding: 0 !important;
        flex: 0 0 100%;
      }

      .p-all-video {
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        margin-top: 36px;
        margin-bottom: 24px;
      }

      .sub-video {
        width: 100%;
        max-width: 100% !important;
        padding: 0 !important;
        flex: 0 0 100%;
        max-height: fit-content !important;
        flex-direction: row !important;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;

        .sub-video-item {
          padding: 0 !important;
          max-width: 48.7% !important;
          flex: 0 0 48.7%;
          margin-bottom: 36px!important;
          .box-top{
            margin-bottom: 16px!important;
          }
        }
      }
    }
  }
}

